spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        default_batch_fetch_size: 10

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
    context-path: /api/v1

  jwt:
    secret: ${JWT_SECRET}

  server:
    port: 8081

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /doc

logging:
  level:
    org.springframework: INFO
    org.springframework.security: DEBUG
    com:
      fasterxml:
        jackson: DEBUG

server:
  servlet:
    context-path: /api/v1
